/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v18-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v18-latin_cyrillic-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v18-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v18-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v18-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

:root {
  --font-family: 'Montserrat';
  --white: #FFFFFF;
  --orange: #FF9900;
  --black: #333333;
  --grey: #CACACA;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
}

a:focus {
  border: 2px solid var(--orange);
}
a:active {
  color: #E1670E;
  border-bottom: #E1670E;
  border: none;
}

html {
  font-family: var(--font-family);
  font-style: normal;
}

body {
  background: var(--white);
}

ul {
  list-style: none;
}

.container {
  max-width: 1770px;
  margin-left: auto;
  margin-right: auto;
}


.h1 {
font-weight: 800;
font-size: 70px;
line-height: 85px;
color: var(--white);

}

.btn {
  padding: 20px 38px;
  width: 175px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--orange);
  box-sizing: border-box;
  display: inline-block;
  background-color: transparent;
  color: var(--white);
}

.heading {
font-weight: normal;
font-size: 48px;
line-height: 59px;
color: var(--black);

}
/* HEADER */

.header {
  width: 100%;
  height: 100px;
  background: var(--white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header_wrap {
  padding: 14px 75px;
  display: flex;
  justify-content: space-between;
}

.header__nav-menu {
  margin: 0;
  display: flex;
}

.header__nav-menu-item{
  margin-right: 85px;
  font-size: 18px;
  font-weight: 600;
}

.header__nav-menu-links:hover {
  border-bottom: 2px solid var(--orange);
}

.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__searchbar {
  background: url('../img/search.svg') no-repeat transparent;
  width: 24px;
  height: 24px;
}


/* SLIDER */

.hero {
  height: 620px;
  margin-bottom: 100px;
}

.swiper {
  width: 1770px;
  height: 620px;
}

.s1 {
  background-image: url('../img/1.jpg');
}
.s2 {
  background-image: url('../img/2.jpg');
}

.s3 {
  background-image: url('../img/3.jpg');
}


.slidebar__all-text {
  width: 837px;
  position: absolute;
  padding-left: 80px;
  padding-top: 100px;
  z-index: 2;
}

.slidebar__all-text-h1 {
  margin: 0;
  width: 837px;
}

.slidebar__all-text-p {
margin: 0;
margin-top: 24px;
width: 790px;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: var(--white);

}

.slidebar__all-text-btn {
  margin-top: 90px;
  padding: 0;
  width: 280px;
  height: 78px;
  background-color: var(--orange);
  font-size: 23.4581px;
  line-height: 1;
}

.swiper-pagination-bullets span{
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 20px !important;
  margin-bottom: 30px !important;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}



/*
.slidebar {
  position: relative;
  height: 620px;
  width: 100%;
}



.swiper {
  position: relative;
  height: 620px;
  width: 100%;
}



.slidebar input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.switch label {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  max-width: 1770px;
  height: 620px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-1770px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-3540px);
}
*/
/* ABOUt US */

.about-us {
  margin-bottom: 100px;
}

.about-us__head {
  margin: 0;
}

.about-us__descp{
  margin: 0;
  margin-top: 20px;
  width: 1235px;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;

}

.about-us__wrap-bot {
  margin-top: 50px;
  display: flex;
}

.about-us__wrap-bot-left {
  background: url('../img/Rectangle\ 2.jpg') no-repeat;
}

.about-us-big {
  position: relative;
  height: 622px;
  width: 868px;
  margin-right: 32px;
}

.about-us-info-block {
  padding: 50px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 196px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-info-block-p {
  width: 454px;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.about-us__wrap-bot {
  display: flex;
  justify-content: space-between;
}

.about-us-small {
  display: flex;
  flex-direction: column;
}

.about-us-small-box {
  display: flex;
  padding: 65px 118px 65px 60px;
  height: 295px;
  border: 1px solid #CACACA;
  box-sizing: border-box;
}

.about-us-small:not(:last-child) {
  margin-bottom: 32px;
}


.square {
  background: url('../img/square.svg') no-repeat top left 65px;
}

.stars {
  background: url('../img/stars.svg') no-repeat;
}

.about-us-small-box-text {
  width: 452px;
}

.about-us-box-info {
  margin-left: 50px;
  width: 452px;
}

.about-us-box-head {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.about-us-box-p {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}


/* HOW WORK */

.work {
  height: 646px;
  margin-bottom: 100px;
}



.work_menu {
  display: flex;
  padding: 0;
}

.work-menu-item:not(:last-child) {
  margin-right: 85px;
}



/*
 CSS for the main interaction
*/
.work__tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.work__tabset .tab-panel {
  display: none;
}

.work__tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.work__tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.work__tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.work__tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.work__tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.work__tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/


.work__tabset > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tab_label {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.tab_label:not(:last-child) {
  margin-right: 80px;
}
/* .work__tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
} */

.work__tabset > label:hover,
.work__tabset > input:focus + label {
  color: var(--orange);
}

.work__tabset > input:focus + label {
  color: var(--black);
  border: 2px solid var(--orange);
}

.work__tabset > input:focus + label {
  color: #E1670E;
  border: none;
}

.work__tabset > input:checked + label {

  margin-bottom: -1px;
}


.work__tabset {
  margin: 0;
  margin-bottom: 100px;
}
.work__heading {
  margin: 0;
  margin-bottom: 50px;
}

.work-block-info {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.work-block-heading {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.work-block-descrp {
  margin: 0;
  width: 758px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

.work-block-right {
  margin-left: 142px;
  display: flex;
  align-items: flex-end;
}

.block-img {
  width: 870px;
  height: 460px;
}

.work-block-left {
position: relative;
}


.work-block-btns {
  position: absolute;
  left:0;
  bottom: 0;
}

.work_btn {
  background-color: var(--orange);
}

.work_btn_dog {
  font-size: 16px;
  line-height: 20px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  box-sizing: border-box;
}


/* FAQ */

.faq {
  margin-bottom: 100px;
}

.faq__heading {
  margin: 0;
  margin-bottom: 32px;
}
details > summary {
  list-style: none;
}
details > summary::marker {
  display: none;
}

summary:after {
  background: url('../img/det_x.svg');
  float: right;
  height: 50px;
  width: 50px;
  content: " ";
  transform: translateY(-7px);
}

details[open] summary:after {
  background: url('../img/det_open.svg');
}

details {
  margin: 0px;
  border-top: 1px solid grey;
}

.container details:last-child {
  border-bottom: 1px solid grey;
}


summary {
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);

}

.faq_descr {
  padding: 0;
  padding-bottom: 40px;
  width: 1003px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

/* FOOTER */

.footer {
  width: 100%;
  height: 594px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #222222;
}


.footer-wrap {
  display: flex;
  justify-content: space-between;

}

.footer-left {
  display: flex;
  flex-direction: column;
  flex: 0 1 363px;
}

.footer-logo {
  margin: 0;
  margin-bottom: 20px;
}

.footer-nav-icons {
  padding: 0;
  margin: 0;
  display: flex;
  align-items:center;
}

.footer-nav-list {
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--grey);
}

.footer-nav-links {
  color: var(--grey)
}

.footer-nav-links:hover {
  color: var(--orange)
}

.footer-nav-links:focus {
  border: 2px solid var(--orange);
}

.footer-nav-links:active {
  color: #E1670E;
  border:none;
}



.footer-form {
  display: flex;
  flex-direction: column;
  flex: 0 1 580px;
}

.footer-head-form {
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--grey);
}

.form-style::placeholder{
  padding-left: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
}

.form-style {
  margin-bottom: 32px;
  width: 570px;
  height: 60px;
  background: #414141;
  border:none;
}

.form-textarea {
  height: 150px;
  border:none;
  resize: none;
}

.form-textarea::placeholder {
  padding-top: 14px;

}


/* ТЕСТ КАСТОМНОГО ЧЕКБОКС */

/* VAR1 С ПСЕВДОКЛАССАМИ*/

.checkbox-block {
  display: flex;
  align-items: center;
}

.checkbox-block input[type='checkbox'] {
  display: none;
}

.checkbox-block label {
  position: relative;
  padding-left: 20px;
}

.checkbox-block label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--grey);
}


.checkbox-block label::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 8px;
  width: 14px;
  height: 14px;
  background-image: url('../img/galka.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.checkbox-block input[type='checkbox']:checked + label:after {
  opacity: 1;
}


.form-agree {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
}


.footer-form-btns {
  display: flex;

}


.footer-icon-item:not(:last-child) {
  margin-right: 25px;
}

.footer-icon-link {
display: inline-block;
width: 60px;
height: 60px;
background-repeat: no-repeat;
background-size: contain;
}

.fb {
  background: url('../img/fb.svg');
}

.vk {

  background: url('../img/vk.svg');
}

.inst {
  background: url('../img/inst.svg');
}


.footer-right {
  display: flex;
  align-items: center;
  flex: 0 1 363px;
}



.footer-right-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
  padding-bottom: 100px;
}

.footer-form-btn {
  width: 269px;
  height: 58px;
  margin-right: 22px;
  background: var(--orange);
}
